PORT=5000
MONGO_URI=mongodb+srv://YOUR_USER:YOUR_PASS@cluster0.xxxxxx.mongodb.net/crickyworld?appName=Cluster0
JWT_SECRET=your_super_secret_jwt_key_change_this
FAST2SMS_API_KEY=your_fast2sms_api_key_here
